* {
	padding: 0;
	margin: 0;
}

html {
  scroll-behavior: smooth;	/* smooth scrolling when redirected to an element */
}

body {
	display: flex;		/* this centers the PDF view */
	justify-content: center;
}

nav {
	background-color: #353A40;  
	box-shadow: 0 5px 5px #ccc;
	height: 48px;
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 1;
	animation: navbar_animation;
	animation-duration: 1s;
}

@keyframes navbar_animation {
	from { top: -48px }
	to { top: 0px }
}

.inline-list {
	list-style-type: none;	/* Remove bullet points */
	margin: 0;							/* remove browser's default */	
	padding: 0;
	display: flex;					/* display list items on one line */
}
#main-logo {
	color: #F2AA4CFF;				/* orange */
	display: inline;
	font-size: 32px;
	margin-left: 20px;
}
#main-logo { cursor: default; } /* prevent mouse from changing when hovering over text */

.navbar-list {
	height: 48px;
	align-items: center;	/* align on Y axis */
	float: right;
}
.navbar-link {
	color: white;
	margin-right: 40px;
}
.navbar-link:hover { color: #F2AA4CFF; }

#resume-btn {
	border: none;
	background-color: transparent;
}
#resume-btn:hover { text-decoration: underline; }
#resume-btn:focus { outline: none; }	/* Remove outline after pressing button */

#pdf-container {
	position: fixed;
	top: 70px;
	display: none;
	z-index: 1;
}

#pdf-container iframe {
	width: 80vw;
	height: 90vh;
	margin: auto;
	border-radius: 8px;
	border: none;
}

#pdf-container img {
	position: absolute;
	margin-left: 5px;
	padding: 3px;
	border: 1px solid #353A40;
	border-radius: 50%;
}

#pdf-container img:hover { 
	cursor: pointer;
	animation: rotate90 1s; 
}
@keyframes rotate90 {
	50% {transform: rotate(90deg);}  /* rotate 90 degrees and back */
}

#main-container {
	max-width: 1200px; /* 1280px or 1920px */
	margin: auto;
}
.fade-in-animation {
	animation: fade_in;
	animation-duration: 4s;
}
@keyframes fade_in {
	from { opacity: 0% }
	to { opacity:100% }
}

/* Up down animation when hovering over element (element needs position: relative;) */
.up-down-animation:hover {	
	animation: up_down;		
	animation-duration: 350ms;
	animation-fill-mode: forwards;
}
@keyframes up_down {
	0% {top: 0px}
	50% {top: -5px}
	100% {top: 0px}
}
/*__________________________________________HEADER__________________________________________*/
#header {
	padding: 10px;
	height: 600px;
	position: relative;
}
#header:hover { cursor: default; } /* prevent mouse from changing when hovering over text */

#title {
	max-width: 500px;
	margin: 150px auto 0px auto;
	/*border: 1px solid red;*/
}

#red-dot {
	color: red;
	position: relative;
	animation-name: drop_dot;
	animation-duration: 3s;

}
@keyframes drop_dot {
	from { top: -200px; }
	to { top: 0px; }
}

#tools {
	max-width: 580px;
	margin: 20px auto 0px auto;
	padding: 10px;
	text-align: center;
}

#intro {
	margin-top: 50px;
	max-width: 580px;
	letter-spacing: 1px;
}

#logo-links {
	width: 500px;
	position: relative;
}

#logo-links a {
	margin-left: 20px;
}
#logo-links a:hover {
	/* Apply orange filter to image */
	filter: invert(57%) sepia(72%) saturate(1781%) hue-rotate(3deg) brightness(110%) contrast(104%);
	text-decoration: none; /* without this there is an added line next to the image */
}

/* Animate each logo link at a different speed */
#logo-links a:nth-child(1) {
	position: relative;
	animation: slide_left;
	animation-duration: 2s;
}
#logo-links a:nth-child(2) {
	position: relative;
	animation: slide_left;
	animation-duration: 1s;
}
@keyframes slide_left {
	0% { 
		left: -200px;
		opacity: 0%;
	}
	40% { opacity:100%; }
	100% {left: 0px; }
}

#logo-links img { position: relative; } /* used for up and down movement when hovering over */

/*__________________________________________PROJECTS__________________________________________*/
#projects {
	/*border: 1px solid orange;*/
}
#projects > p {
	text-align: center;
	font-size: 1.4rem;
	letter-spacing: 1px;
	color: #a6a6a6;
}
.project-container {
	margin: 30px 15px;
	padding: 40px 15px;
	border-radius: 8px;
	box-shadow: 0 5px 5px #ccc;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;  					/* vertical alignment */
	background-color: rgb(250, 250, 250);
	position: relative;
	transition: 350ms; 			/* use this when adding the attribute 'transform' */
}

/*.project-container:nth-child(odd) {	#### Might implement later
	animation: slide_from_left;
	animation-duration: 1s;
	animation-iteration-count: 0;
}
@keyframes slide_from_left {
	from {left: -300px}
	to {left: 0px}
}

.project-container:nth-child(even) {
	animation: slide_from_right;
	animation-duration: 1s;
}
@keyframes slide_from_right {
	from {right: -300px}
	to {right: 0px}
}*/

.project-container:hover {
	background-color: #ebf6f9;   	/* very light blue */
	transform: scale(1.02);				/* enlarge the element */
}

.project-img {
	width: 520px;
	height: 300px;
	display: inline-block;
}
.project-screenshot {			/* place screenshot in the middle of the laptop screen */
	border-radius: 10px 10px 0px 0px;
	margin-top: -340px;
	margin-left: 53px;
}

.project-info {
	height: 300px;
	width: 45%;
	min-width: 393px;
	padding-left: 10px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.project-title {
	font-size: 1.5rem;
	font-weight: bold;
}
.project-title span {
	font-size: 0.8rem;
	font-weight: normal;
	color: white;
	background-color: #353A40;
	border-radius: 5px;
	margin-left: 10px;
	padding: 3px;
	vertical-align: middle;
}

.project-tools li {
	font-size: 0.8rem;
	background-color: #f0f0f0;
	border-radius: 5px;
	margin-right: 5px;
	padding: 3px;
}

.project-description { margin: 30px 0px 35px 0px; }

.project-btn {
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 25px;
	padding: 15px;
	margin-left: 10px;
}

.project-btn:hover {
	text-decoration: none;
	border: 1px solid #F2AA4CFF;
	color: #F2AA4CFF;
}

.preview-btn {
	background-color: #353A40;
	color: white;
	border-radius: 25px;
	padding: 15px;
}

.preview-btn:hover {
	text-decoration: none;
	background-color: #F2AA4CFF; 
	color: white;
}

#prefiew-images {
	display: none;
}
/*__________________________________________FOOTER__________________________________________*/
#footer {
	padding: 10px 0px 50px 0px;
	color: #a6a6a6;
}

#contact-info {
	margin: auto;			/* no need for width since table's width is as large as its contents */
}
#contact-info th { 
	font-size: 1.4rem;
	padding: 10px 0px; 
	text-align: center;
}
#contact-info td { padding: 5px 5px; }

#contact-info a {
	color: #a6a6a6;
}

/* Typing text animation - source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.css-typing h1 {
	font-family: Courier, monospace;
	font-weight: bold;
  	border-right: .15em solid orange;
  	white-space: nowrap;
  	overflow: hidden;
}
.css-typing h1:nth-child(1) {	/* select the firs element in the class */
  	width: 500px;				/* movement length of the typing bar */
  	-webkit-animation: type 1.5s steps(40, end);
  	animation: type 1.5s steps(40, end);
  	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
}

@keyframes type {
  	0% {
    	width: 0;
  	}
  	99.9% {
    	border-right: .15em solid orange;
  	}
  	100% {
    	border: none;
  	}
}

@-webkit-keyframes type {
  	0% {
    	width: 0;
  	}
  	99.9% {
    	border-right: .15em solid orange;
  	}
  	100% {
    	border: none;
  	}
}

@keyframes blink {
  	50% {
    	border-color: transparent;
  	}
}
@-webkit-keyframes blink {
  	50% {
    	border-color: tranparent;
  	}
}