:root {
	--dark-blue-trello: #094C72;
	--medium-blue-trello: #0079BF;
	--light-blue-trello: #2B96D4;
	--lightest-blue-trello: #56ABDC;
	--column-header-color: #D9D9D9;

	--light-gray-color: #F2F2F2;

	--border-radius-default: 7px;

}
* {
	padding: 0;
	margin: 0;
}
body {
	background-color: var(--light-gray-color);
}

button:focus {	/* remove blue border around all buttons when clicking on them */
	outline: none;
}

/*____________________________________Register + Login page____________________________________*/
.auth-form {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid darkgrey;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #aaa; 	/* h-offset v-offset blur */
	text-align: center;					/* center all inputs in the form */
	background-color: #f1f1f1;
}
.auth-form input {
	margin: 5px 0px;
	width: 200px;
}
.auth-form form { margin-bottom: 5px; }

/*____________________________________Index page style____________________________________*/
.flex-container {
	display: flex;
	justify-content: space-around;
}

#create-board-form-btn {
	width: 300px;
	height: 50px;
	padding: 5px;
	margin: 50px 0px;	/* top-bottom right-left */
	border: none;
	border-radius: var(--border-radius-default);
	font-size: large;
	color: white;

	background-color: #34A853;
	box-shadow: 2px 2px 5px #aaa;
}
#create-board-form-btn:hover { background-color: #2A8943; }

#darken-overlay {
	display: none;
	positioN: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 70%;
	z-index: 1;
}

#create-board-modal {
	display: none;		/* Have the form initially hidden */
	background-color: var(--light-gray-color);
	width: 400px;
	padding: 5px;
	border-radius: var(--border-radius-default);
	position: fixed;		/* Need fixed since using absolute for child .close-form-btn */
	top: 80px;
	left: 50vw;				/* Left margin of the form is at 50% of the window */
	margin-left: -200px;	/* The middle of the form is at the middle of the window */
	z-index: 2;
}

.center-modal-title {
	text-align: center;
	margin-top: 10px;
}

.form-input { margin-bottom: 10px; } /* Add some spacing between the form's inputs */

.center-btn { text-align: center; }

.close-form-btn {	/* Position.close form <button> 'X' in the top right corner */
	border: none;
	background-color: transparent;
	position: absolute;
	top: 2px;
	right: 7px;
}
.close-form-btn:hover { color: red; }

.boards-list {
	padding: 0;			/* remove indentation from ul */
	list-style: none;	/* remove bullet points */
}

.active-list-item { background-color: var(--light-blue-trello); }
.active-list-item:hover { background-color: var(--medium-blue-trello); }

.archived-list-item { background-color: #8C8C8C; }
.archived-list-item:hover { background-color: #737373; }

.boards-list button {
	color: white;
	font-size: large;
	text-align: left;
	margin-bottom: 8px;
	padding: 8px;
	width: 100%;
	border: none;
	border-radius: var(--border-radius-default);
	box-shadow: 2px 2px 5px #aaa;
}
.timestamp { font-size: 0.8rem; }
/*____________________________________Board page style____________________________________*/
nav { background-color: var(--dark-blue-trello); }

.app-title {
	font-size: 1.4rem;
	color: white;
}

.nav-link { color: white !important; }
.link-over:hover { background-color: var(--medium-blue-trello); }

#board-container {
	background-color: var(--medium-blue-trello);
	height: calc(100vh - 56px);	/* view height - navbar-height */
}

#board-header {
	padding: 10px 0px 10px 10px;
}

.inline-block { display: inline-block; }

#board-title { 
	color: white;
	font-weight: bold;
	background-color: var(--light-blue-trello);
	padding: 5px 8px;
	margin: 0;
	border-radius: var(--border-radius-default);
}

#edit-board-btn, .archive-btns { 
	display: none; 
	margin-left: 10px;
}

#board-div {
	margin: 5px;
	display: flex; /* positions the large add column btn in the same row as the columns */
	flex-wrap: wrap;
}

#empty-board-msg { 
	display: none; /* Initially hidden */
	color: white; 
	margin: auto;	/* center the message */
}  
#add-col-btn {
	color: white;
	background-color: var(--light-blue-trello);
	display: flex;		/* center the button */
	margin: auto;
}
#add-col-btn:hover { background-color: var(--lightest-blue-trello); }

#add-col-modal, #edit-col-modal, #edit-card-modal {
	display: none;
	background-color: var(--light-gray-color);
	width: 400px;
	padding: 5px;
	border-radius: var(--border-radius-default);
	/* Position (fixed) in the high middle of the screen on top of the document */
	position: fixed; 		/* Need fixed since using absolute for child .close-form-btn */
	top: 80px;
	left: 50vw;				/* Align the left edge of the element at 50% of the window */
	margin-left: -200px;	/* Move left margin back the halfway mark (half-width of the element 400/2) */
	z-index: 2;				/* Position on top of document elements */
}

#add-col-modal h5, #edit-col-modal h5 { margin-top: 5px}

#add-col-btn-lg {	/* Large "+ Add column" button at the rightmost position of all existing columns */
	color: white;
	background-color: var(--light-blue-trello);
	display: none;
	height: 80px;
	width: 300px;
	margin-left: 5px;
	border: none;
	border-radius: var(--border-radius-default);
}
#add-col-btn-lg:hover { 
	background-color: var(--lightest-blue-trello);
}

/*____________________________________Columns style____________________________________*/
#cols-div {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;	/* make the column as tall as the number of cards inside */
	align-content: center;

}
.col-div {
	background-color: var(--light-gray-color);
	border-radius: var(--border-radius-default);
	width: 300px;
	position: relative; 	/* Need relative since using absolute for child .col-buttons */
	margin-left: 5px;
	margin-bottom: 5px;		/* for when columns are stacked on each other */
	overflow-y:  auto; 		/* Adding the scroll property */
	padding-bottom: 10px;
	min-height: 110px;		/* Empty column should be taller than the add column button */
}

.col-div > h5 {	/* Column's title */
	padding: 5px 5px 5px 10px;
	background-color: var(--column-header-color);
	font-weight: bold;
}

.col-buttons {			/* Position column's buttons top right corner */
	position: absolute;
	top: 0px;
	right: 2px;
	display: flex;
}

.col-buttons button {
	border: none;
	height: 34px;	/* Same height as the column's header */
	padding: 5px;
	background-color: transparent;
}

.col-buttons > button:hover, .dropbtn:hover, .card-div > button:hover {
	color: var(--light-blue-trello);
}

.dropdown {		/* Column's drop down menu when pressing ... - needed to position the dropdown content */
	position: relative;
}
.dropdown-content {	
	display: none;
	position: absolute;
	right: 0px;			/* Aligning menu to the right edge */
	z-index: 1;
	box-shadow: 2px 2px 5px #aaa;
}
.dropdown-content button {
	width: 130px;
	background-color: white;
	text-align: left;
	border: none;
}
.dropdown-content button:hover { background-color: var(--light-gray-color); }

#add-card-div { margin: 0px 5px; }  /* top-bottom right-left */

#add-card-div input[type="submit"], #add-card-div button {
	margin-top: 5px;
	width: 141px;	/* make each button almost half the width of the parent */
}

/*____________________________________Cards style____________________________________*/
.card-div {
	position: relative;
	background-color: white;
	padding: 5px;
	margin: 0px 5px 7px 5px; /* top right bottom left */
	border-radius: 5px;
	box-shadow: 2px 2px 5px #aaa;
}

.card-buttons {
	position: absolute;
	top: 0px;
	right: 0px;
	border: none;
	background-color: transparent;
}
.card-buttons > .dropdown > .dropbtn {
	border: none;
	background-color: transparent;
}

.card-div > p {	width: 87%; } /* ensure text area in card doesn't overlap with ... button */

.card-creator {
	font-size: 0.9rem;
	color: #737373;
}

/* Change mouse cursor when hovering over a draggable */
.draggable {
	cursor: move;
}

.draggable.dragging { /* Select any draggable with the dragging class */
	opacity: 0.5;
}