{% extends 'workboard/layout.html' %}
{% load static %}

{% block title %} - Board Page{% endblock %}

{% block body %}

<div id="board-canvas">
	<section id="board-header">
		
		<div id="editing-title">
			<div class="inline-block">
				{% csrf_token %}
				<form onsubmit="save_edited_title({{board_obj.id}}); return false;">
					<input type="text" id="updated-title" placeholder="{{board_obj.title}}" maxlength="25" required>
					<input type="submit" value="Save">
				</form>
			</div>
			<div class="inline-block">
				<button id="cancel-title-edit" class="btn btn-link">Cancel</button>
			</div>
		</div>

		<div id="default-board-header">
			<div class="inline-block">
				<h4 id="board-title">{{ board_obj.title}}</h4>
			</div>

			<!-- Add the archive buttons part of the title -->
			{% if board_obj.archived %}	<!-- True means board is archived, make it unarchived -->
				<div class="inline-block">
					<button class="archive-btns btn btn-dark btn-sm" data-archived="False">Unarchive</button>
				</div>
			{% else %}
				<!-- Edit the board's title -->
				<div class="inline-block">
					<button class="edit-board-btn btn btn-info btn-sm" data-boardid="{{board_obj.id}}">Edit</button>
				</div>
				<div class="inline-block">
					<button class="archive-btns btn btn-secondary btn-sm" data-archived="True">Archive</button>
				</div>
			{% endif %}
		</div>
		
		<!--<div>{{ board_obj.timestamp }}</div>-->
	</section>

	<section id="board-div">

		<div id="empty-board-msg">
			<h6>This board has no columns or cards.</h6>
			<button id="add-col-btn" class="add-col-form-btn btn btn-sm">Add a column</button>
		</div>

		<div id="cols-div"></div>

		<div>
			<button id="add-col-btn-lg" class="add-col-form-btn">+ Add column</button>
		</div>
	</section>
</div>

<!-- POP-UPS -->
<div id="add-col-popup">
	<h5>Add a column</h5><button id="close-form-btn" onclick="close_form()">x</button>
	<hr>
	<form id="create-col-form" method="post">
		{% csrf_token %}
		<h6>Column name</h6>
		<input type="text" id="col-name-input" class="form-control" autofocus 
			placeholder="Enter a column name (To Do, In Progress, Done)" maxlength="30" required>
		<input type="submit" id="create-col-btn" class="btn btn-primary btn-sm popup-submit" value="Create column">
	</form>
</div>

<div id="edit-col-popup">
	<h5 id="edit-col-header"></h5><button id="close-form-btn" onclick="close_form()">x</button>
	<hr>
	<form id="edit-col-form" method="post">
		{% csrf_token %}
		<h6>Column name</h6>
		<input type="text" id="edit-col-name-input" class="form-control" maxlength="30" required>
			<input type="submit" class="btn btn-warning btn-sm popup-submit" value="Update column">
	</form>
</div>

<div id="edit-card-popup">
	<h5>Edit card</h5><button id="close-form-btn" onclick="close_form()">x</button>
	<form id="edit-card-form" method="post">
		{% csrf_token %}
		<h6>Card</h6>
		<textarea id="edit-card-text-input" class="form-control h-25" maxlength="300" required></textarea><!-- h-25: max height of 25%-->
			<input type="submit" class="btn btn-warning btn-sm popup-submit" value="Save card">
	</form>
</div>

{% endblock %}

{% block script %}
	<script src="{% static 'workboard/board-page.js' %}"></script>
{% endblock %}