{% extends "commerce/layout.html" %}
{% load humanize %}<!-- Format large numbers with comma 1/3 (add the app in settings.py for 3/3)-->

{% block title %}{% endblock %}

{% block body %}
    {% if page == "category" %}
        <h2>Listings in {{ category }}</h2>
    {% else %}
        
        {% if currentUserWins %}    <!-- Check if the current user has some closed listings they won -->
            <h3>You won the following listings!</h3>
            {% for wonListing in currentUserWins %}
                <ul>
                    <li>
                        <b><a href="{% url 'commerce:listing' wonListing.id %}" style="text-decoration:none;">
                    {{ wonListing.title }} closed at ${{ wonListing.current_bid }}</a></b>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
        
        <h2>Active Listings</h2>
    
    {% endif %}

    <!-- Display all active listings -->
    <table style="width: 100%;">

        {% for listing in listings %}
            
            {% if listing.active %}
                <tr style="border: 1px solid lightgrey;">
                    <td style="width:30%; text-align: center">  <!-- Align images in the middle -->
                        {% if listing.image_URL %} <!-- Show image if it was provided -->
                            <img src="{{ listing.image_URL}}" alt="{{ listing.title }}" width="200">
                        {% else %}
                            <img src="../static/commerce/No_image_available.png" alt="No image" width="200">
                        {% endif %}
                    </td>
                    <td>
                        <p><b><a href="{% url 'commerce:listing' listing.id %}" style="text-decoration:none;">
                            {{ listing.title }}
                        </a></b></p>

                        <!-- Check if we display the starting or current bid -->
                        {% if listing.current_bid == 0 %}
                            <p><b>Price:</b> ${{ listing.starting_bid|intcomma }}</p><!-- Format large numbers with comma 2/3-->
                        {% else %}
                            <p><b>Price:</b> ${{ listing.current_bid|intcomma }}</p><!-- Format large numbers with comma 2/3-->
                        {% endif %}
                        
                        {% if listing.description %}
                            <p>{{ listing.description }}</p>
                        {% endif %}
                        
                        <p>Seller: {{ listing.seller.username }} <span style="font-size: 80%;color: grey;"> - Created: {{ listing.creation_date }}</span></p>
                    </td>
                </tr>
                
            {% endif %}
        {% empty %} <!-- Show this message if there are no active listings -->
                    <p>There are no active listings</p>
        {% endfor %}
    </table>

{% endblock %}